# Unified Multimodal Chest X-ray Project
# Python 3.11

numpy==1.26.4
pandas==2.2.3

torch==2.3.1
torchvision==0.18.1

transformers==4.53.2
pydicom==3.0.1
matplotlib==3.10.3
timm==1.0.17
opencv-python==4.10.0.84
tqdm==4.67.1
scikit-learn==1.7.0
python-dotenv==1.0.1
wandb==0.21.0
Flask==2.2.5
PyYAML>=6.0
safetensors>=0.4.0

spacy==3.8.7
negspacy==1.0.4

google-genai==1.5.0
captum==0.8.0
scikit-image==0.25.2

iterative-stratification==0.1.9


medclip==0.0.3